:root {
  font-size: 62.5%;
}

.menu {
  background-color: #f0b800;
  width: 100%;
  height: 7rem;
  position: fixed;
  z-index: 1;
}


h1 {
  color: #f0b800;
  font-size: 6rem;
  text-decoration: underline;
  text-align: center;
  font-family: "Tiny5", Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: 3rem;
}

.bg {
  height: 300px;
  width: 100%;
  background-color: rgb(255, 255, 0);
  background-image: url("https://images.unsplash.com/photo-1689602037070-fec2eca3f5b2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bg-tabela {
  height: 300px;
  width: 100%;
  background-color: rgb(255, 255, 0);
  background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
p {
  text-align: justify;
  font-size: 2rem;
}

a {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

table,
td,
th {
  border: 1px black solid;
}
table {
  font-size: 2.4rem;
  border-collapse: separate;
}

table tr:first-child {
  background-color: steelblue;
  color: #ffff;
}

table tr:nth-child(2n + 3) {
  background-color: #b1afaf;
}

li {
  font-size: 2.4rem;
}

ul,
ol {
  padding-left: 2.4rem;
  list-style: none;
}

.boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box {
  min-height: 10rem;
  min-width: 20rem;
  color: #ffff;
  padding: 1.5rem;
  border: 0.4rem solid rgb(255, 0, 0);
  display: inline-block;
  border-radius: 0.4rem;
  background-color: blue;
}




/* .box:nth-child(1){
    position: absolute;
    top: 0px;
    left: 100px;
}

.box:nth-child(n + 2) {
}

img {
  height: 10rem;
} */

.contact-list{
    position: relative;
}

.contact-list h2{
    position: sticky;
    top: 7rem;
    position: 0px;
    background-color: #f0b800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
